POSTGRES_DB=trading_bot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
API_PORT=3100
RANKING_EXCHANGE_ID=kraken
RANKING_INTERVALS=1h,4h,1d
RANKING_RUN_INTERVAL_MS=300000
RANKING_LOOKBACK_LIMIT=250
RANKING_CONCURRENCY=3
RANKING_QUOTE_CURRENCIES=USDT
RANKING_MAX_PAIRS=25
RANKING_OUTPUT_FORMAT=table
RANKING_OUTPUT_LIMIT=25
RANKING_EXCHANGE_TIMEOUT_MS=30000
RANKING_EXCHANGE_RETRY_COUNT=2